/* Container */
.rlogin-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.rlogin-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #4cbb71;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.rlogin-box .ruser-box {
  position: relative;
}

.rlogin-box .ruser-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.rlogin-box .ruser-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #4cbb71;
  pointer-events: none;
  transition: .5s;
}

.rlogin-box .ruser-box input:focus ~ label,
.rlogin-box .ruser-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #4cbb71;
  font-size: 12px;
}

.rlogin-box form .rbtn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #4cbb71;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px;
}

.rlogin-box .rbtn:hover {
  background: #4cbb71;
  color: #272727;
  border-radius: 5px;
}

.rlogin-box .rbtn span {
  position: absolute;
  display: block;
}

.rlogin-box .rbtn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #4cbb71);
  animation: rbtn-anim1 1.5s linear infinite;
}

@keyframes rbtn-anim1 {
  0% { left: -100%; }
  50%,100% { left: 100%; }
}

.rlogin-box .rbtn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #4cbb71);
  animation: rbtn-anim2 1.5s linear infinite;
  animation-delay: .375s;
}

@keyframes rbtn-anim2 {
  0% { top: -100%; }
  50%,100% { top: 100%; }
}

.rlogin-box .rbtn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #4cbb71);
  animation: rbtn-anim3 1.5s linear infinite;
  animation-delay: .75s;
}

@keyframes rbtn-anim3 {
  0% { right: -100%; }
  50%,100% { right: 100%; }
}

.rlogin-box .rbtn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #4cbb71);
  animation: rbtn-anim4 1.5s linear infinite;
  animation-delay: 1.125s;
}

@keyframes rbtn-anim4 {
  0% { bottom: -100%; }
  50%,100% { bottom: 100%; }
}

.rlogin-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.rlogin-box a.ra2 {
  color: #4cbb71;
  text-decoration: none;
}

.rlogin-box a.ra2:hover {
  background: transparent;
  color: #fff;
  border-radius: 5px;
}
