
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.header-container.animate {
  opacity: 1;
  transform: translateY(0);
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
  max-width: 80%;
  margin: 0;
}

.gradient-text {
  background: linear-gradient(to right, #4cbb71, #cdd01f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-subtitle {
  margin-top: 15px;
  font-size: 1.2rem;
  max-width: 600px;
  color: #ccc;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 2rem;
  }
  .header-subtitle {
    font-size: 1rem;
  }
}
