.right-section {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-top: 40px; /* korábbi inline style helyett */
  margin-bottom: -20px;
}


@media (max-width: 500px) {
  .tabs {
    margin-top: -100px; /* kisebb távolság telefonon */
    flex-wrap: wrap;   /* ha kevés a hely, gombok új sorba kerülhetnek */
    gap: 8px;
  }

  .tabbtn {
    padding: 6px 12px;
    font-size: 0.9rem;
  }
}


.tabbtn.active {
  background-color: #4cbb71;
  color: #000;
  box-shadow: 0 0px 20px rgba(76, 187, 113, 0.6);
  border-color: #4cbb71;
}

.tabbtn.active::before {
  scale: 3;
}
